<h4>{% trans %}mail.hello{% endtrans %}</h4>
<p>{% trans %}mail.your_link_to_restore_your_password{% endtrans %}: <a target="_blank" href="{{ recoveryLink }}">{% trans %}mail.link_label{% endtrans %}</a></p>
