<h4>{% trans %}mail.hello{% endtrans %}, {{ user.fullName }}! {% trans %}mail.welcome_to_the_red_button{% endtrans %}</h4>
<p>{% trans %}mail.this_is_your_register_confirmation_link{% endtrans %}: <a target="_blank" href="{{ confirmationLink }}">{% trans %}mail.link_label{% endtrans %}</a></p>
